/* .header {
    max-width: 100%;
    height: 4rem;
    
    align-items: center;
    justify-content: space-around;
    background-color: #4ac026;
    padding: 5% 10%;
  } */
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .header{
    max-width: 100%;
    height: 3.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid black;
  }
  
  .header ul {
    list-style: none;
    margin: 50px;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 1.5rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #302b2d;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active 
  {
    
    color: rgb(236, 144, 231);
  }

  .header > .navHeader {
    margin-left: 50px;
    color: #302b2d;
  }
  
  

  .navHeader{
    color: white;
    font-size: 2rem;
  }

  .logoutButton{
    border: none;
    background-color: transparent;
  }
  .logoutButton:hover {
    color: rgb(236, 144, 231);
  }
  