.signInHeader{
    text-align: center;
    margin-bottom: 2rem
}
.emailIput{
    margin-bottom: 0.7rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    width: 100%;
}
.passwordInput{
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    width: 100%;
}

.switchToRegisterHeader{
    margin-top: 20px;
}

.switchToRegisterHeader > span {
    display: flex;
    justify-content: center;
}



